In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [5]:
df = pd.read_csv("CustomerPurchase.csv")

## Exploring the dataset

In [6]:
df.head()

,index,SessionID,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Weekend,Month,CustomerType,Purchase
0,0,1,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,False,2,1,0
1,1,2,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,False,2,1,0
2,2,3,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,False,2,1,0
3,3,4,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,False,2,1,0
4,4,5,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,True,2,1,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6666 entries, 0 to 6665
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    6666 non-null   int64
 1   SessionID                6666 non-null   int64
 2   Administrative           6666 non-null   int64
 3   Administrative_Duration  6666 non-null   float64
 4   Informational            6666 non-null   int64
 5   Informational_Duration   6666 non-null   float64
 6   ProductRelated           6666 non-null   int64
 7   ProductRelated_Duration  6666 non-null   float64
 8   BounceRates              6666 non-null   float64
 9   ExitRates                6666 non-null   float64
 10  PageValues               6666 non-null   float64
 11  SpecialDay               6666 non-null   float64
 12  Weekend                  6666 non-null   bool
 13  Month                    6666 non-null   int64
 14  CustomerType             6666 non-null   int64
 15  Purchase                 6666 non-null   int64
dtypes: bool(1), float64(7), int64(8)
memory usage: 787.8 KB