In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing the dataset

In [10]:
df = pd.read_csv("CustomerPurchase.csv")

## Exploring the dataset

In [11]:
df.head()

,index,SessionID,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Weekend,Month,CustomerType,Purchase
0,65,66,3,87.833333,0,0.0,27,798.333333,0.000000,0.012644,22.916036,0.8,False,Feb,Returning_Customer,1
1,76,77,10,1005.666667,0,0.0,36,2111.341667,0.004348,0.014493,11.439412,0.0,False,Feb,Returning_Customer,1
2,101,102,4,61.000000,0,0.0,19,607.000000,0.000000,0.026984,17.535959,1.0,True,Feb,Returning_Customer,1
3,188,189,9,111.500000,1,48.5,49,1868.819697,0.000000,0.020709,1.706015,0.0,False,Mar,Returning_Customer,1
4,196,197,2,56.000000,1,144.0,67,2563.783333,0.000000,0.005797,19.342650,0.0,False,Mar,New_Customer,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6666 entries, 0 to 6665
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    6666 non-null   int64
 1   SessionID                6666 non-null   int64
 2   Administrative           6666 non-null   int64
 3   Administrative_Duration  6666 non-null   float64
 4   Informational            6666 non-null   int64
 5   Informational_Duration   6666 non-null   float64
 6   ProductRelated           6666 non-null   int64
 7   ProductRelated_Duration  6666 non-null   float64
 8   BounceRates              6666 non-null   float64
 9   ExitRates                6666 non-null   float64
 10  PageValues               6666 non-null   float64
 11  SpecialDay               6666 non-null   float64
 12  Weekend                  6666 non-null   bool
 13  Month                    6666 non-null   object
 14  CustomerType             6666 non-null   object
 15  Purchase                 6666 non-null   int64
dtypes: bool(1), float64(7), int64(6), object(2)
memory usage: 787.8+ KB